<div class="text-center">
    <h1 class="display-4">Top tracks</h1>
</div>

<div id="topTrackGrid"></div>

@section Scripts
{
    <script type="text/javascript">
        function getTopTracks() {
            $.ajax({
                url: '@Url.Action("Get", "TopTrackApi")',
                success: function (result) {
                    console.debug(result);
                },
                error: function () {
                }
            });
        }

        $("#topTrackGrid").dxDataGrid({
            dataSource: DevExpress.data.AspNet.createStore({
                key: "name",
                loadUrl: '@Url.Action("Get", "TopTrackApi")'
            }),
            remoteOperations: { groupPaging: true },
            columns: ["name", "rank", "album", "artistsString", "genresString", "popularitiesString"],
            showBorders: true
        });
    </script>
}